In [2]:
#Import Required libraries
import pandas as pd 
import sqlite3

In [5]:
#loading data set
df_providers=pd.read_csv(r"C:\Users\Pitchamani\Desktop\FWMS\providers_data.csv")
df_receivers=pd.read_csv(r"C:\Users\Pitchamani\Desktop\FWMS\receivers_data.csv")
df_foodlist=pd.read_csv(r"C:\Users\Pitchamani\Desktop\FWMS\food_listings_data.csv")
df_claims=pd.read_csv(r"C:\Users\Pitchamani\Desktop\FWMS\claims_data.csv")

In [6]:
#cleaning data
df_providers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Provider_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Type         1000 non-null   object
 3   Address      1000 non-null   object
 4   City         1000 non-null   object
 5   Contact      1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [7]:
df_receivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Receiver_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Type         1000 non-null   object
 3   City         1000 non-null   object
 4   Contact      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [8]:
df_foodlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Food_ID        1000 non-null   int64
 1   Food_Name      1000 non-null   object
 2   Quantity       1000 non-null   int64
 3   Expiry_Date    1000 non-null   object
 4   Provider_ID    1000 non-null   int64
 5   Provider_Type  1000 non-null   object
 6   Location       1000 non-null   object
 7   Food_Type      1000 non-null   object
 8   Meal_Type      1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

In [9]:
df_foodlist.head()

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

In [11]:
#Changing EXpiry_Date format to datetime from object
df_foodlist["Expiry_Date"]=pd.to_datetime(df_foodlist["Expiry_Date"],errors="coerce")

In [ ]:
df_foodlist.info()
#format to datatime

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Food_ID        1000 non-null   int64
 1   Food_Name      1000 non-null   object
 2   Quantity       1000 non-null   int64
 3   Expiry_Date    1000 non-null   datetime64[ns]
 4   Provider_ID    1000 non-null   int64
 5   Provider_Type  1000 non-null   object
 6   Location       1000 non-null   object
 7   Food_Type      1000 non-null   object
 8   Meal_Type      1000 non-null   object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 70.4+ KB

In [13]:
df_claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     1000 non-null   int64
 1   Food_ID      1000 non-null   int64
 2   Receiver_ID  1000 non-null   int64
 3   Status       1000 non-null   object
 4   Timestamp    1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

In [14]:
df_claims.head()

   Claim_ID  Food_ID  Receiver_ID     Status         Timestamp
0         1      164          908    Pending  03/05/2025 05:26
1         2      353          391  Cancelled  03/11/2025 10:24
2         3      626          492  Completed    3/21/2025 0:59
3         4       61          933  Cancelled  03/04/2025 09:08
4         5      345          229    Pending   3/14/2025 15:17

In [15]:
#changing timestamp format
df_claims["Timestamp"]=pd.to_datetime(df_claims["Timestamp"],errors="coerce")

In [ ]:
df_claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     1000 non-null   int64
 1   Food_ID      1000 non-null   int64
 2   Receiver_ID  1000 non-null   int64
 3   Status       1000 non-null   object
 4   Timestamp    1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 39.2+ KB

In [17]:
df_claims.head()

   Claim_ID  Food_ID  Receiver_ID     Status           Timestamp
0         1      164          908    Pending 2025-03-05 05:26:00
1         2      353          391  Cancelled 2025-03-11 10:24:00
2         3      626          492  Completed 2025-03-21 00:59:00
3         4       61          933  Cancelled 2025-03-04 09:08:00
4         5      345          229    Pending 2025-03-14 15:17:00

In [18]:
# Database connection
conn = sqlite3.connect("food_wastage.db")
cursor = conn.cursor()

In [ ]:
%pip install pymysql
import pymysql

Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [24]:
# MySQL connection setup
conn = pymysql.connect(
    host="localhost",
    user="root",
    password="root",

)
cursor = conn.cursor()

In [25]:
cursor.execute("CREATE DATABASE IF NOT EXISTS food_data")

1

In [27]:
cursor.execute("USE food_data")

0

In [28]:
#Table creation
cursor.execute("""
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INT AUTO_INCREMENT PRIMARY KEY,
        Name VARCHAR(255),
        Type VARCHAR(100),
        Address TEXT,
        City VARCHAR(100),
        Contact VARCHAR(50)
    )
""")
conn.commit()

In [29]:
# Insert data using iterrows()
for index, row in df_providers.iterrows():
    cursor.execute("""
        INSERT INTO providers (Provider_ID, Name, Type, Address, City, Contact)
        VALUES (%s, %s, %s, %s, %s, %s)
    """, tuple(row))

In [30]:
conn.commit()

In [31]:
#Table creation for Receivers
cursor.execute("""
    CREATE TABLE IF NOT EXISTS receivers (
        Receiver_ID INT AUTO_INCREMENT PRIMARY KEY,
        Name VARCHAR(255),
        Type VARCHAR(100),
        City VARCHAR(100),
        Contact VARCHAR(50)
    )
""")
conn.commit()

In [32]:
# Insert data using iterrows()
for index, row in df_receivers.iterrows():
    cursor.execute("""
        INSERT INTO receivers (Receiver_ID, Name, Type, City, Contact)
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))

In [33]:
conn.commit()

In [34]:
#Table creation for foodlist
cursor.execute("""
        CREATE TABLE IF NOT EXISTS foodlist (
            Food_ID INT PRIMARY KEY,
            Food_Name VARCHAR(255),
            Quantity INT,
            Expiry_Date DATETIME,
            Provider_ID INT,
            Provider_Type VARCHAR(100),
            Location VARCHAR(100),
            Food_Type VARCHAR(100),
            Meal_Type VARCHAR(100),
            FOREIGN KEY (Provider_ID) REFERENCES providers(Provider_ID)
        )
    """)
conn.commit()

In [35]:
# Insert data using iterrows()
for index, row in df_foodlist.iterrows():
    cursor.execute("""
        INSERT INTO foodlist (Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, tuple(row))

In [36]:
conn.commit()

In [37]:
#table for claims
cursor.execute("""
        CREATE TABLE IF NOT EXISTS claims (
            Claim_ID INT AUTO_INCREMENT PRIMARY KEY,
            Food_ID INT,
            Receiver_ID INT,
            Status VARCHAR(50),
            Timestamp DATETIME,
            FOREIGN KEY (Food_ID) REFERENCES foodlist(Food_ID),
            FOREIGN KEY (Receiver_ID) REFERENCES receivers(Receiver_ID)
        )
    """)
conn.commit()

In [39]:
# Insert data using iterrows()
for index, row in df_claims.iterrows():
    cursor.execute("""
        INSERT INTO claims (Claim_ID, Food_ID, Receiver_ID, Status, Timestamp)
        VALUES (%s, %s, %s, %s, %s)
    """, tuple(row))

In [40]:
conn.commit()

In [ ]:
Claim_ID     1000 non-null   int64         
 1   Food_ID      1000 non-null   int64         
 2   Receiver_ID  1000 non-null   int64         
 3   Status       1000 non-null   object        
 4   Timestamp    1000 non-null   datetime64[ns]